.home-panel{
	vertical-align: center;
	font-size: 20;
	margin: 15;
}

ActionBar {
    background-color:  #3C5AFD;
    color: white;
}

button {
    font-size: 15;
    /* horizontal-align: center; */
}

RadSideDrawer .drawerContentText {
    font-size: 13;
    padding: 10;
}

RadSideDrawer .drawerContentButton {
    margin: 10;
    /* horizontal-align: left; */
}

.sideStackLayout {
    background-color: #ffffff;
}

.sideTitleStackLayout {
    text-align: center;
    vertical-align: center;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}