<ActionBar title="Activity View">
    <NavigationButton text="Menu" android.systemIcon="ic_menu"
        (tap)="openDrawer()">
    </NavigationButton>
</ActionBar>
<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <Label text="User" [nsRouterLink]="['/user']"
                    class="sideLabel sideLightGrayLabel">
                </Label>
                <Button text="Logout" class="-primary"
                    [nsRouterLink]="['/home']"></Button>
                <Label text="Close Menu" color="lightgray" padding="10"
                    style="horizontal-align: center"
                    (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent>
        <ScrollView class="page">
            <FlexboxLayout flexDirection="column">
                <Button flexGrow="1" text="Create Proposal"
                    [nsRouterLink]="['/create-proposal']"
                    style="background-color: #AA0078; color: white;" ;>
                </Button>
                <ScrollView>
                    <StackLayout>
                        <ListView height="500" [items]="proposals"
                            class="list-group">
                            <ng-template let-item="item" let-i="index"
                                let-odd="odd" let-even="even">
                                <GridLayout columns="*,*,*">
                                    <Label [text]="item.id"
                                        class="list-group-item">
                                    </Label>
                                    <Label [text]="item.name" col="1"
                                        class="list-group-item">
                                    </Label>
                                    <Button text="Edit" col="2"
                                        (tap)="onProposalClick(item)"
                                        [nsRouterLink]="['/edit-proposal',item.id]"
                                        style="background-color: #FFFF66; margin: 5;">
                                    </Button>
                                </GridLayout>
                            </ng-template>
                        </ListView>
                    </StackLayout>
                </ScrollView>
            </FlexboxLayout>
        </ScrollView>
    </StackLayout>
</RadSideDrawer>