<ActionBar title="Create Proposal">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back">
    </NavigationButton>
</ActionBar>

<ScrollView>
    <FlexboxLayout flexDirection="column">
        <TextField class="p-15 text-center font-weight-bold" required
            hint="Enter Proposal ID" [(ngModel)]='proposal.id' secure="false"
            keyboardType="integer" returnKeyType="done"
            (returnPress)="onReturnPress($event)" autocorrect="false"
            maxLength="10">
        </TextField>
        <TextField class="p-15 text-center font-weight-bold" required
            hint="Enter Proposal Name" [(ngModel)]='proposal.name'
            secure="false" returnKeyType="done"
            (returnPress)="onReturnPress($event)" autocorrect="false"
            maxLength="10">
        </TextField>
        <Button [text]="buttonLabel" class="-primary -rounded-lg"
            (tap)="createProposal()"
            [isEnabled]='proposal.id !== null && proposal.name !== "" '>
        </Button>
    </FlexboxLayout>
</ScrollView>