<ActionBar title="User">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back">
    </NavigationButton>
</ActionBar>

<ScrollView class="page">
    <FlexboxLayout flexDirection="column">
        <FlexboxLayout flexDirection="row">
            <Label flexGrow="1" class="p-15 text-center font-weight-bold"
                text="First Name" backgroundColor="#CCCCCC"></Label>
            <Label flexGrow="1" class="p-15 text-center font-weight-bold"
                text="Arpitha NS" backgroundColor="#EEEEEE"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="row">
            <Label flexGrow="1" class="p-15 text-center font-weight-bold"
                text="UserName" backgroundColor="#CCCCCC"></Label>
            <Label flexGrow="1" class="p-15 text-center font-weight-bold"
                text="arpitha.s" backgroundColor="#EEEEEE"></Label>
        </FlexboxLayout>
    </FlexboxLayout>
</ScrollView>