<ActionBar title="Login">
</ActionBar>

<GridLayout>
    <StackLayout class="form">
        <StackLayout class="input-field">
            <TextField required [(ngModel)]="creadentials.username"
                hint="Enter Username...">
            </TextField>
        </StackLayout>
        <StackLayout class="input-field">
            <TextField required [(ngModel)]="creadentials.password"
                hint="Enter Password..." secure="true">
            </TextField>
        </StackLayout>
        <Button text="Log In" class="-primary"
            [nsRouterLink]="['/activity-view']" pageTransition="slide"
            [isEnabled]="creadentials.username !== '' && creadentials.password !== ''">
        </Button>
    </StackLayout>
</GridLayout>